.cart-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;
    min-height: 100vh;
}

@media screen and (min-width: 1080px) {
    .cart-container {
        padding: 10rem 5%;
    }
}

.cart-container .heading {
    text-align: center;
}

.cart-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 6rem;
    margin-bottom: 5rem;
}

@media screen and (min-width: 1080px) {
    .cart-grid {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.subtotal {
    font-size: 2.5rem;
}

.cart-btns {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    flex: 50%;
    padding: 1rem;
}

.card {
    display: flex;
    filter: drop-shadow(10px 10px var(--darkGreen));
    background: var(--lightestBrown);
    border: 1px solid #000;
}

.cart-buttons {
    display: flex;
}

.cart-buttons button {
    background: transparent;
    padding: 12px 20px;
    color: var(--accentColor);
    font-size: 2rem;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

.cart-buttons button:hover {
    transform: scale(1.2);
    color: var(--lightBrown);
}

.cart-buttons span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.card-img {
    padding: 1rem;
}

.card-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.empty {
    font-size: 1.5rem;
}

.empty a {
    color: var(--darkBrown);
}

.empty a:hover {
    color: var(--accentColor);
}