.btn {
    background: var(--accentColor);
    padding: 12px 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.secondary {
    background: var(--darkBrown);
}