.btn {
    background: var(--accentColor);
    padding: 12px 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.secondary {
    background: var(--darkBrown);
}

.outline {
    border: 1px solid var(--darkBrown);
    background: transparent;
    color: var(--darkBrown);
}

.outline:hover {
    background: var(--darkBrown);
    color: #fff;
}

.large {
    width: 100%;
}